PORT=4000
DATABASE_URL=

# Configuración WhatsApp Cloud API (Meta)
WHATSAPP_VERIFY_TOKEN=tu_token_de_verificacion_seguro
WHATSAPP_PHONE_ID=
WHATSAPP_ACCESS_TOKEN=

# Configuración Google Gemini AI
GEMINI_API_KEY=
